
* {
    font-family: 'Source Sans Pro', sans-serif;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

h1 {
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 20px;
    text-transform: capitalize;
}

.container {
    max-width: 1050px;
    padding: 0 15px;
    margin: 0 auto;
    font-weight: 500;
    width: 100%;
}

.wrapper:not(.play) #pause {
    display: none;
}
.wrapper.play #play {
    display: none;
}

.custom-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
.custom-input .space.cursor {
    /* background color cyan with trasparency */
    background: rgba(0, 255, 255, 0.5);
}

/* line break */
.custom-input span.br {
    white-space: break-spaces;
}

.custom-input .word {
    margin: 0 0 5px;
    color: #7a7a7a;
    white-space: nowrap;
}
.custom-input .word.cursor {
    /* background color gray with trasparency */
    background: rgba(0, 0, 0, 0.05);
}
.custom-input .word.selected {
    background: rgba(255, 251, 3, 0.5);
    color: #000 !important;
}
.custom-input .word.soft {
    color: #000 !important;
}
.custom-input .word .letter.cursor {
    /* background color gray with trasparency */
    color: #000;
}
.custom-input .word.selected {
    /* background color yellow with trasparency */
    background: rgba(255, 255, 0, 0.5);
}

.wrapper {
    position: relative;
}
.actions {
    background-color: white;
    position: sticky;
    padding: 20px 0;
    top: 0;
}